

<%= form_for(@blogger) do |f| %>
<%= f.label :Name %>
<%= f.text_field :name %>

<%= f.label :Bio %>
<%= f.text_field :bio %>

<%= f.label :age %>
<%= f.number_field :age %>
<%= f.submit %>
        
<% end %>


<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>

       <p style="color:red; font-size: 3000px; text-align: relative">
        <%= error %>
       </p>

    <% end %>

<% end %>